body {
    background-color: lightblue;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 1.5em;
}

#container,
#pagination,
#searchInput {
    margin-bottom: 1.5rem;
}

button {
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 5px;
    width: 8em;
    cursor: pointer;
    font-weight: bold;
  }

#searchInput {
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 5px;
    width: 15em;
}