body {
    background-color: lightblue;
    margin: 0;
    text-align: center;
}

#container,
#pagination {
    margin-bottom: 1.5rem;
}

button {
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 5px;
    width: 5em;
    cursor: pointer;
    font-weight: bold;
  }