body {
    background-color: lightblue;
    margin: 0;
    text-align: center;
    width: 100vw;
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 1.5em;
}

#container {
    margin-bottom: 6rem; 
}

#pagination,
#searchInput {
    margin-bottom: 1.5rem;
}

button {
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 5px;
    width: 8em;
    cursor: pointer;
    font-weight: bold;
  }

#searchInput {
    font-size: 1.25rem;
    border-radius: 5px;
    padding: 5px;
    width: 15em;
}

.footer {
    padding: 20px;
    background-color: rgba(211, 211, 211, 0.688);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.footer-text {
    font-size: 2em;
    font-weight: bold;
    animation: ticker 7s linear infinite;
}

@keyframes ticker {
    0% {
        transform: translateX(-100%); 
    }

    100% {
        transform: translateX(100%);
    }
}